@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  color: white;
  background-color: #1d1d1d;
}

ul{
  list-style: none;

}

.react-json-view{
  background-color: #1f2937 !important;
  height: 100% !important;
}